body{
    background-color: pink;
    padding: 40px;
}
.accordian{
   background-color: #fff;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.answer{
   color: #666;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s;
}
.answer.active{
    max-height:fit-content ;
}
.icon{
    margin: 16px;
    transition: transform 0.2s ;
}
.icon.active{
    transform: rotate(-180deg);
}